
.grid  {
  display: grid;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
  display: inline-block;
}

h1 {
  font: var(--fw-lg) var(--fs-lg)/125% var(--ff-poppins);
}

p {
  color: var(--text-color-secondary);
  font: var(--fw-base) var(--fs-md)/170% var(--ff-poppins);
}


.container {
  --max-width: 23.43rem;
  width: min(var(--max-width), 100% - var(--padding-inline-container) * 2);
  margin-inline: auto;
}
.desktop-only {
  display: none;
}

@media (width >= 80em) {
  .container {
    --max-width: 80em;
    --padding-inline: 2rem;

  }

  .desktop-only {
display: initial;
  }
}

.pfp-img {
    max-width: 2.5rem;
    max-height: 2.5rem;  
}